div#container
{
   width: 760px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_Shape10
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape10
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape5
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape5
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape7
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape7
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape2
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape2
{
   width: 760px;
   height: 495px;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #000000 solid;
}
#wb_Shape1
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape1
{
   width: 220px;
   height: 495px;
   background-color: #E6E6E6;
   background-image: none;
   border: 0px #000000 solid;
}
#wb_Shape4
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape4
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape6
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape6
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape3
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape3
{
   width: 220px;
   height: 40px;
   background-color: #000000;
   background-image: none;
   border: 0px #000000 solid;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Shape9
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape9
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_TextMenu2
{
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
   text-align: left;
}
#wb_TextMenu2 span
{
   margin: 0 14px 0 0px;
}
#wb_Shape8
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape8
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text7 div
{
   text-align: center;
}
#wb_TextMenu1
{
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
   text-align: center;
}
#wb_TextMenu1 span
{
   display: block;
   margin: 0 0 14px 0;
   line-height: 17px;
}
#wb_Shape1
{
   position: absolute;
   left: 540px;
   top: 200px;
   width: 220px;
   height: 495px;
   z-index: 4;
}
#wb_Shape2
{
   position: absolute;
   left: 0px;
   top: 200px;
   width: 760px;
   height: 495px;
   z-index: 3;
}
#wb_Shape3
{
   position: absolute;
   left: 540px;
   top: 241px;
   width: 220px;
   height: 40px;
   z-index: 7;
}
#wb_Text4
{
   position: absolute;
   left: 555px;
   top: 252px;
   width: 197px;
   height: 422px;
   z-index: 11;
}
#wb_TextMenu1
{
   position: absolute;
   left: 543px;
   top: 350px;
   width: 499px;
   height: 21px;
   visibility: hidden;
   z-index: 16;
}
#wb_TextMenu2
{
   position: absolute;
   left: 39px;
   top: 212px;
   width: 499px;
   height: 21px;
   z-index: 13;
}
#wb_Text7
{
   position: absolute;
   left: 0px;
   top: 713px;
   width: 760px;
   height: 13px;
   text-align: center;
   z-index: 15;
}
#wb_Shape8
{
   position: absolute;
   left: 494px;
   top: 407px;
   width: 320px;
   height: 52px;
   visibility: hidden;
   z-index: 14;
}
#wb_Text1
{
   position: absolute;
   left: 41px;
   top: 102px;
   width: 291px;
   height: 29px;
   z-index: 9;
}
#wb_Shape9
{
   position: absolute;
   left: 583px;
   top: 449px;
   width: 320px;
   height: 40px;
   visibility: hidden;
   z-index: 10;
}
#wb_Text2
{
   position: absolute;
   left: 39px;
   top: 42px;
   width: 340px;
   height: 58px;
   z-index: 8;
}
#Shape4
{
   width: 540px;
   height: 40px;
}
#wb_Shape10
{
   position: absolute;
   left: 704px;
   top: 404px;
   width: 320px;
   height: 110px;
   visibility: hidden;
   z-index: 0;
}
#wb_Text3
{
   position: absolute;
   left: 40px;
   top: 252px;
   width: 464px;
   height: 422px;
   z-index: 12;
}
#Shape5
{
   width: 760px;
   height: 52px;
}
#Shape10
{
   width: 320px;
   height: 110px;
}
#Shape6
{
   width: 361px;
   height: 152px;
}
#wb_Shape4
{
   position: absolute;
   left: 0px;
   top: 241px;
   width: 540px;
   height: 40px;
   z-index: 5;
}
#Shape7
{
   width: 760px;
   height: 200px;
}
#wb_Shape5
{
   position: absolute;
   left: 0px;
   top: 695px;
   width: 760px;
   height: 52px;
   z-index: 1;
}
#Shape8
{
   width: 320px;
   height: 52px;
}
#wb_Shape6
{
   position: absolute;
   left: 23px;
   top: 24px;
   width: 361px;
   height: 152px;
   z-index: 6;
}
#Shape9
{
   width: 320px;
   height: 40px;
}
#wb_Shape7
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 760px;
   height: 200px;
   z-index: 2;
}
@media only screen and (max-width: 759px)
{
div#container
{
   width: 320px;
}
#wb_Shape10
{
   left: 0px;
   top: 0px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Shape5
{
   left: 0px;
   top: 695px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#wb_Shape7
{
   left: 0px;
   top: 0px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#wb_Shape2
{
   left: 0px;
   top: 110px;
   width: 320px;
   height: 974px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Shape2
{
   width: 320px;
   height: 974px;
}
#wb_Shape1
{
   left: 540px;
   top: 200px;
   width: 220px;
   height: 495px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape1
{
   width: 220px;
   height: 495px;
}
#wb_Shape4
{
   left: 0px;
   top: 241px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#wb_Shape6
{
   left: 23px;
   top: 24px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#wb_Shape3
{
   left: 540px;
   top: 241px;
   width: 220px;
   height: 40px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Shape3
{
   width: 220px;
   height: 40px;
}
#wb_Text2
{
   left: 29px;
   top: 5px;
   width: 272px;
   height: 58px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 27px;
   top: 55px;
   width: 270px;
   height: 29px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Shape9
{
   left: 0px;
   top: 327px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text4
{
   left: 555px;
   top: 252px;
   width: 197px;
   height: 422px;
   visibility: hidden;
   display: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 33px;
   top: 337px;
   width: 250px;
   height: 708px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_TextMenu2
{
   left: 39px;
   top: 212px;
   width: 499px;
   height: 21px;
   visibility: hidden;
   display: none;
   font-size: 13px;
   font-family: Tahoma;
   font-weight: normal;
   font-style: normal;
   text-decoration: underline;
   background-color: transparent;
   background-image: none;
   margin: 0;
   text-align: left;
}
#wb_Shape8
{
   left: 0px;
   top: 1084px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Text7
{
   left: 12px;
   top: 1096px;
   width: 290px;
   height: 26px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_TextMenu1
{
   left: 13px;
   top: 116px;
   width: 288px;
   height: 208px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Tahoma;
   font-weight: normal;
   font-style: normal;
   text-decoration: underline;
   background-color: transparent;
   background-image: none;
   margin: 0;
   text-align: center;
}
#wb_TextMenu1 span
{
   line-height: 1.0;
}
}
